{% assign d = include.data | default: site.data.data %}
{% assign sidebar = d.sidebar %}

<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html data=d %}

  {% if sidebar.education %}
    {% include education.html data=d %}
  {% endif %}

  {% include language.html data=d %}
  {% include interests.html data=d %}

  {% if sidebar.about %}
    {% include about.html data=d %}
  {% endif %}

</div><!--//sidebar-wrapper-->
